Package                   Version   
------------------------- ----------  
Django                    2.1.1     
django-cors-headers       3.1.0     
django-rest-passwordreset 1.0.0     
djangorestframework       3.10.3        
future                    0.16.0        
pip                       19.3.1         
pylint                    2.4.4     
reportlab                 3.5.34    
requests                  2.20.1       
setuptools                42.0.2    
six                       1.13.0        
urllib3                   1.24.3        
wheel                     0.33.6    
wrapt                     1.11.2    
