<form [formGroup]="searchForm" (ngOnsubmit)="searchData()" style="margin-bottom: 10px;" novalidate>
    <p>
        <mat-form-field> 
            <mat-label>Page</mat-label>
            <input matInput formControlName="page" placeholder="Page">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Page Size</mat-label>
            <input matInput formControlName="pageSize" placeholder="Page Size">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>From Date</mat-label>
            <input matInput formControlName="fromDate" [matDatepicker]="fromDate">
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>To Date</mat-label>
            <input matInput formControlName="toDate" [matDatepicker]="toDate">
            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Order</mat-label>
            <mat-select formControlName="order" value="desc">
                <mat-option value="desc">desc</mat-option>
                <mat-option value="asc">asc</mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Min</mat-label>
            <input matInput formControlName="min" placeholder="Min">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Max</mat-label>
            <input matInput formControlName="max" placeholder="Max">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Sort</mat-label>
            <mat-select formControlName="sort" value="activity">
                <mat-option value="activity">activity</mat-option>
                <mat-option value="votes">votes</mat-option>
                <mat-option value="creation">creation</mat-option>
                <mat-option value="relevance">relevance</mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Q</mat-label>
            <input matInput formControlName="q" placeholder="Q">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Accepted</mat-label>
            <mat-select formControlName="accepted">
                <mat-option value="True">True</mat-option>
                <mat-option value="False">False</mat-option>
            </mat-select>
        </mat-form-field>    
    </p>

    <p>
        <mat-form-field>
            <mat-label>Answers</mat-label>
            <input matInput formControlName="answers" placeholder="Answers">
        </mat-form-field>    
    </p>

    <p>
        <mat-form-field>
            <mat-label>Body</mat-label>
            <input matInput formControlName="body" placeholder="Body">
        </mat-form-field>    
    </p>

    <p>
        <mat-form-field>
            <mat-label>Closed</mat-label>
            <mat-select formControlName="closed">
                <mat-option value="True">True</mat-option>
                <mat-option value="False">False</mat-option>
            </mat-select>
        </mat-form-field>    
    </p>

    <p>
        <mat-form-field>
            <mat-label>Migrated</mat-label>
            <mat-select formControlName="migrated">
                <mat-option value="True">True</mat-option>
                <mat-option value="False">False</mat-option>
            </mat-select>
        </mat-form-field>    
    </p>

    <p>
        <mat-form-field>
            <mat-label>Notice</mat-label>
            <mat-select formControlName="notice">
                <mat-option value="True">True</mat-option>
                <mat-option value="False">False</mat-option>
            </mat-select>
        </mat-form-field>    
    </p>

    <p>
        <mat-form-field>
            <mat-label>Nottagged</mat-label>
            <input matInput formControlName="notTagged" placeholder="nottagged">
        </mat-form-field>    
    </p>

    <p>
        <mat-form-field>
            <mat-label>Tagged</mat-label>
            <input matInput formControlName="tagged" placeholder="Tagged">
        </mat-form-field>    
    </p>
        
    <p>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Title">
        </mat-form-field>    
    </p>

    <p>
        <mat-form-field>
            <mat-label>User</mat-label>
            <input matInput formControlName="user" placeholder="User">
        </mat-form-field>    
    </p>
        
    <p>
        <mat-form-field>
            <mat-label>Url</mat-label>
            <input matInput formControlName="url" placeholder="Url">
        </mat-form-field>    
    </p>
        
    <p>
        <mat-form-field>
            <mat-label>Views</mat-label>
            <input matInput formControlName="views" placeholder="Views">
        </mat-form-field>    
    </p> 

    <p>
        <mat-form-field>
            <mat-label>Wiki</mat-label>
            <mat-select formControlName="wiki">
                <mat-option value="True">True</mat-option>
                <mat-option value="False">False</mat-option>
            </mat-select>
        </mat-form-field>    
    </p>

    <div style="margin: 0 auto; align-content: center;">
        <button mat-button-raise type="submit" style="margin: 0 auto; display: block;" (click)="searchData()">Search</button>
    </div>

</form>

<!-- <div style="margin: 0 auto; align-content: center;">
    <button mat-button-raise type="submit" style="margin: 0 auto; display: block;" (click)="searchData()">Search</button>
</div> -->

<mat-divider></mat-divider>

<!-- Element to receive the response -->
<mat-card *ngFor="let question of data">
    <mat-card-header>
        <mat-card-title>
            <a href="{{question.link}}">
                {{question.title}}        
            </a>
        </mat-card-title>
        <mat-card-subtitle>{{question.tags}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>
        