
<mat-form-field>
    <mat-label>Page</mat-label>
    <input matInput placeholder="Page">
</mat-form-field>

<mat-form-field>
    <mat-label>Page Size</mat-label>
    <input matInput placeholder="Page Size">
</mat-form-field>

<mat-form-field>
    <mat-label>From Date</mat-label>
    <input matInput placeholder="From Date">
</mat-form-field>

<mat-form-field>
    <mat-label>To Date</mat-label>
    <input matInput placeholder="To Date">
</mat-form-field>

<mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput placeholder="Order">
</mat-form-field>

<mat-form-field>
    <mat-label>Min</mat-label>
    <input matInput placeholder="Min">
</mat-form-field>

<mat-form-field>
    <mat-label>Max</mat-label>
    <input matInput placeholder="Max">
</mat-form-field>

<mat-form-field>
    <mat-label>Sort</mat-label>
    <input matInput placeholder="Sort">
</mat-form-field>